<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usermodule">

    <application
        android:name="cm.module.core.ModuleBaseApplication"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>